.bgMain{
    background-image: url("../assets/pages/galery/Hubble/04-hubble-heic1307a.jpg");

    background-position: center;
    display: flex;
    align-items: center;

    padding-top: 5vw;
    padding-bottom: 1vw;

    flex-direction: column;

    padding-bottom: 2vw;

    height: 100vh;

    
    .popUpProducts{
        width: 55vw;
        height: 45vw;
        background-color: white;
        position: fixed;
        z-index: 10;
        border-radius: 1rem;
        
        display: flex;
        align-items: center;
        opacity: 1;

        animation-name: effectOpaccity;
        animation-duration: 0.3s;
        animation-iteration-count: 1;

        @keyframes effectOpaccity {
            from{
                opacity: 0;
            }to{
                opacity: 1;
            }
        }
        
        img{
            width: 28vw;
            height: 30vw;
        }

        .containerInfoCart{
            width: 50%;
            height: 100%;
            background-color: rgb(247, 247, 247);
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;

            display: flex;
            flex-direction: column;
            align-items: center;

            .containerFlexClosePopUp{
                width: 100%;
                display: flex;
                justify-content: end;
                align-content: center;
                padding-right: 2vw;
                padding-top: 1vw;

                cursor: pointer;

                .closePopUp{
                    width: 3vw;
                    height: 3vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(255, 255, 255, 0.788);
                    border-radius: 30rem;

                    #child-1{
                        position: absolute;
                        height: 2vw;
                        width: .3vw;
                        background-color: rgb(107, 107, 107);

                        transform: rotate(-40deg);
                    }

                    #child-2{
                        height: 2vw;
                        width: .3vw;
                        position: absolute;
                        background-color: rgb(107, 107, 107);
                        transform: rotate(40deg);
                    }
                }
            }

            h4{
                margin-top: 2vw;
                margin-left: 1vw;
                font-size: 3vw;
                justify-self:center ;
            }
            .containerInfoProductPopUP{
                margin-top: 3.5vw;
                display: flex;
                flex-direction: column;
                padding:1vw;
                gap: 2.4vw;
                
                #priceProductPopUp{
                    font-weight: bold;
                    font-size: 2.3vw;
                }
                #ShippingTimePopUp{
                    color: #02A751;
                    font-weight: bold;
                }
                
              
            }
            #buttonAddToCartPopUp{
                width: 90%;
                height: 5vw;
                justify-self: center;
                align-self: center;

                background-color: rgba(124,43,255,0.81) ;

                font-weight: bold;

                font-size: 2vw;
                color: white;

                border: none;
                border-radius: 1rem;

                cursor: pointer;

            }
           
        }
    }
    .closeDisplay{
        display: none;
    }

    .selectionAndLoginMerch{
        display: flex;
        justify-content: space-around   ;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.747);
        box-shadow: -1px 3px 13px -3px rgba(255,255,255,0.81);
        -webkit-box-shadow: -1px 3px 13px -3px rgba(255,255,255,0.81);
        -moz-box-shadow: -1px 3px 13px -3px rgba(255,255,255,0.81);
        backdrop-filter: blur(6px);
        width: 95vw;
        height: 5vw;

        padding: 0.5vw;

        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        gap:5vw;

        .containerFiltersMerch{
            display: flex;
            justify-content: center;
            align-content: center;
            gap:3vw;

            &:nth-child(1){
                color: white;
                font-weight: bold;

                input{
                    border: none;
                    padding: 0.2vw;

                }
            }
            #filterPriceBtnInput{
                background-color: rgba(124,43,255,0.81);
                box-shadow: -1px 3px 13px -3px rgba(255,255,255,0.81);
                -webkit-box-shadow: -1px 3px 13px -3px rgba(255,255,255,0.81);
                -moz-box-shadow: -1px 3px 13px -3px rgba(255,255,255,0.81);
                color: white;
                border: rgba(124,43,255,0.81);
                padding: 0.3vw;
                border-radius: 0.3vw;

                font-weight: bold;
                cursor: pointer;
            }
            #filterPriceBtnInput:disabled{
                background-color: rgba(206, 175, 255, 0.81);
                color:gray;
            }

            .containerSearchMerch{
                display: flex;
                flex-direction: column;
                gap: 0.2vw;
                
                input{
                    border: none;
                    padding: 0.2vw;
                    border-radius: 0.2vw;
                }
            }
        }

        .containerLoginMerch{
            
            a{
                background-color: white;
                color: black;
                text-decoration: none;
                border-radius: .4vw;
                padding: 0.4vw;
                padding-left:0.2vw ;
                padding-right: 0.2vw;

                font-weight: bold;

            }
        }
        .containerCartLoginMerch{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:2vw;

            .loggOutMerchIMG{
                width: 2vw;
                cursor: pointer;
                border-radius: 0.3vw;
            }
            .containerCartMerch{
            cursor: pointer;
            width: 3vw;
            height: 3vw;
            background-color: black;
            border-radius: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: -1px 2px 13px -3px rgba(255, 255, 255, 0.81);
            -webkit-box-shadow: -1px 2px 13px -3px rgba(255, 255, 255, 0.81);
            -moz-box-shadow: -1px 2px 13px -3px rgba(255, 255, 255, 0.81);

            img{
                width: 2vw;
            }
        }
        }
       
    }

    .containerProducts{
        padding: 2vw;

        width: 95vw;
        height: 100vh;
        overflow-y: scroll;

        background-color: rgba(0, 0, 0, 0.747);
        box-shadow: -1px 3px 13px -3px rgba(255,255,255,0.81);
        -webkit-box-shadow: -1px 3px 13px -3px rgba(255,255,255,0.81);
        -moz-box-shadow: -1px 3px 13px -3px rgba(255,255,255,0.81);
        
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        
        backdrop-filter: blur(6px);

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3.5vw;

        &::-webkit-scrollbar{
            background-color: rgba(0, 0, 0, 0.747) ;
            width: 0.5vw;
            border-radius: 1vw;
        }
        &::-webkit-scrollbar-thumb{
            background-color: white;
            
            border-radius: 0.5vw;
        }
       
        .containerProductCard{
            background-color: black;
            height: 23vw;
            width: 23vw;
            border-radius: 0.5rem;
            
            display: flex;
            justify-content: flex-end;
            align-items: center ;

            flex-direction: column;

            box-shadow: -1px 3px 13px -3px rgba(255,255,255,0.81);
            -webkit-box-shadow: -1px 3px 13px -3px rgba(255,255,255,0.81);
            -moz-box-shadow: -1px 3px 13px -3px rgba(255,255,255,0.81);

            img{
                width: 18vw;
                position: absolute;
                z-index: 0;

            }
            .containerDataProduct{
                z-index: 2;
                border: none;
                background-color: white;
                width: 100%;
                border-bottom-right-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
                display: flex;
                justify-content: space-around;
                align-items: center;
       
               
                .containerTextInfo{
                    padding: .3vw;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    
                    border-bottom-right-radius: 0.5rem;
                    border-bottom-left-radius: 0.5rem; 

                    h4{
                        margin-left: 1vw;
                    }
             
                }
                .radiusCart{    

                    box-shadow: -1px 2px 13px -3px rgba(124,43,255,0.81);
                    -webkit-box-shadow: -1px 2px 13px -3px rgba(124,43,255,0.81);
                    -moz-box-shadow: -1px 2px 13px -3px rgba(124,43,255,0.81);

                    border-radius: 360rem;
                    background-color: rgb(255, 255, 255);
                    width: 2.5vw;
                    height: 2.5vw;
                    padding: 1vw;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    transition: all 0.3s;

                    img{
                        width: 1.2vw;
                    }

                    &:hover{
                        box-shadow: -1px 2px 45px -3px rgba(124,43,255,0.81);
                        -webkit-box-shadow: -1px 2px 45px -3px rgba(124,43,255,0.81);
                        -moz-box-shadow: -1px 2px 45px -3px rgba(124,43,255,0.81);

                        cursor: pointer;
                    }
                }
            }
            
        }
        .filterDataProducts{
            display: none;
        }
    }
    .blurContainerProducts{
        filter: blur(6px);
    }
}